:root {
    --cor-primaria: #43bd43;
    --cor-secundaria: #FD6C22;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #000000;    
    --cor-fundo-cinza-escuro: #141414;
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }